<div class="container container--narrow flow">
<div class="contact__parent">

<div class="contact__info">
<h2 class="subheading">Vad händer sedan?</h2>
<p>Här kommer vi skriva en massa text som vi sedan visa för läsaren</p>

</div>

<div class="contact__form">
<fieldset class="formboarder">
<legend class="form-legend">Kontakta Mig</legend>
<form class= "form" name="contact" method="POST" data-netlify="true">
  <p class="snippet__body">

    <label class="field__label">Your Name: <input class="fieled__input" type="text" name="name" /></label>   
  
    <label class="field__label">Your Email: <input class="fieled__input" type="email" name="email" /></label>
 
    <label class="field__label">Message: <textarea class="fieled__input" name="message"></textarea></label>
 
    <button type="submit" class="btn btn--primary">Send</button>

</form>
</fieldset>
</div>


</div>
</div>