 <header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
       <a href="/">
        <img height="60vw" src="\assets\pesionsfrid_logos_endast.png" alt="">

      </a>
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Hem</a>
          </li>
          <li>
            <a href="/blog/">Tjänster</a>
          </li>
          <li>
            <a href="/contact/">Kontakta</a>
          </li>
           <li>
            <a href="/bookings/">Boka Tid</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>