<section class="container price-comparison flow">
    <div class="price-column">
        <div class="price-header">
            <div class="price">
            800
                <div class="currency">SEK</div>
                <div class="plan-name">Enkel Tjänst</div>
            </div>
        </div>
    </div>
    <div class="price-column">
        <div class="price-header">
            <div class="price">
            2000
                <div class="currency">SEK</div>
                <div class="plan-name">Kombinerad</div>
            </div>
        </div>
    </div>
    <div class="price-column">
        <div class="price-header">
            <div class="price">
            2500
                <div class="currency">SEK</div>
                <div class="plan-name">Stora Företag</div>
            </div>
        </div>
    </div>
</section>