---
title: Boka tid
layout: 'base.njk'
--- 

<iframe src='https://outlook.office365.com/owa/calendar/Pensionsfrid1@pensionsfrid.se/bookings/' width='100%' height='1800px' scrolling='yes' style='border:0'></iframe>