---
title: pensionsfrid
layout: 'base.njk'
--- 

<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Välkommen till Pensionsfrid</h1>
        <p>Pensionsfrid grundades 2020 med syftet att fler ska få en trygghet i sin pension. Pensionsfrid finns även till för att vägleda genom såväl det förutsägbara som det oförutsägbara, såsom framtidsfullmakt och bouppteckning.</p>
        <p>Kontakta mig vid frågor, eller boka en tid.</p>
        <div class="flex-group">
          <a href="./bookings" class="btn btn--primary">Boka tid idag!</a>
          <a href="./blog" class="btn btn--neutral">Tjänster</a>
        </div>
      </div>
      <div>
        <img src="/assets/hasse_profil.jpg" alt="" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Populära tjänster</h2>
    <p class="text-center">Här listar jag de tjänster som ofta efterfrågas och som hjälpt fest. Resten av tjänsterna hittas under Tjänster i menyn.</p>
      <ul role="list" class="articles__list flow">
        {%- for post in collections.featured | reverse -%}
          {% include "article-snippet.njk" %}
        {%- endfor -%}
      </ul>
  </div>
</section> 

{# {% include "testimonials.njk" %} #}
<section id="contact_form1">
{% include "contact_form1.njk" %}
</section>
