---
title: Om Mig
layout: 'base.njk'
--- 

<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Om Pensionsfrid.</h1>
        <p>Jag har jobbat på Folksam i 12 år med pensioner och försäkring, med utgångspunkt från medlemsförsäkringar och kollektiv avtalad tjänstepension.</p>
        <p>Under dessa år blev jag medveten om den stora kunskapsbristen de allra flesta har om sin pension.</p>
        <p>Jag upptäckte också att det är svårt att få hjälp med en helhetslösning med upplägg och uttag av sin pension, när man närma sig sin pensionering.</p>
        <p>Jag har också kommit på att de allra flesta inte har kunskap om vad som gäller, om man råkar ut för något, som gör att man själv eller någon anhörig inte kan ta hand om sina dagliga åtaganden.</p>
        <p>Jag tror att det är något som oroar många. Men att man ändå inte ta itu och gör något för att lindra en sådan händelse.</p>
        <p>Av dessa anledningar har jag startat detta enmansbolag, Pensionsfrid.</p>
        <p>Mitt upplägg att jag handleder dig att komma fram till det som du tycker är bästa lösningen för dig, vad gäller pensionen. Dessutom erbjuder jag hjälp med juridiska handlingar, t ex framtids fullmakt.</p>
        <p>Allt vill jag erbjuda till ett bra pris, utan att göra stora hål i plånboken. </p>
        <div class="flex-group">
          <a href="../bookings" class="btn btn--primary">Boka tid idag!</a>
          <a href="../services" class="btn btn--neutral">Tjänster</a>
        </div>
      </div>
      <div>
        <img src="/assets/hasse_profil.jpg" alt="" class="hero__image">
      </div>
  </div>
</section>